@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class^=icon-]::before, [class*=" icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat-solid:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-telegram:before {
  content: "";
}

.icon-paw:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-notifications:before {
  content: "";
}

.icon-dots-three-vertical:before {
  content: "";
}

@font-face {
  font-family: "RobotoMono";
  font-display: swap;
  src: url("source/fonts/RobotoMono-Regular.woff") format("woff"), url("source/fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("source/fonts/icons.woff") format("woff"), url("source/fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: RobotoMono, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  box-shadow: 0 3px 3px -2px grey;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  min-height: 120px;
}
.header__main {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  justify-content: flex-end;
  flex: 0 0 16.1290322581%;
}
.header__logo {
  color: #f6af44;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}
.header__search {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 470px;
  justify-content: space-between;
}

.search-form {
  max-width: 700px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0 31px 0 10px;
}
.search-form__item {
  width: 400px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.search-form__btn {
  background-color: transparent;
  flex: 0 0 450px;
  height: 45px;
  font-size: 15px;
  color: #333;
  margin: 0 0 0 10px;
}