<header class="header">
    <div class="header__wrapper">
        <div class="header__container _container">
            <div class="header__body">
                <div class="header__main">
                    <a href="" class="header__logo icon-cat-solid">Bulka TV</a>
                </div>
                <div class="header__search">
                    <div class="search-form">
                        <form action="#" class="search-form__item">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Search"
                                class="search-form__input">
                            <button type="submit" class="search-form__btn icon-search"></button>
                        </form>
                    </div>
                    <div class="icon-microphone"></div>
                </div>
                <div class="header__actions actions-header">
                    <a href="" class="actions-header__item actions-header__item_notifications icon-notifications"></a>
                    <div class="actions-header__item menu-header">
                        <a href="" class="menu-header__icon icon-dots-three-vertical"></a>
                        <div class="menu-header__body">
                            <ul class="menu-header__list menu-list">
                                <li class="icon-paw">Profile</li>
                                <li class="icon-settings">Settings</li>
                                <li class="icon-sign-out">Log Out</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>