[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat-solid:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-paw:before {
  content: "\e904";
}
.icon-microphone:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-sign-out:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-notifications:before {
  content: "\e909";
}
.icon-dots-three-vertical:before {
  content: "\e900";
}
