@import "nullstyle.scss";
@import "icons.scss";
@import "mixins.scss";
@import "fonts.scss";

body {
    font-family: RobotoMono, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
    }

    &__container {
        box-shadow: 0 3px 3px -2px grey;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        min-height: 120px;
    }

    &__main {
        display: flex;
        align-items: center;
        padding: 0 0 0 10px;
        justify-content: flex-end;
        flex: 0 0 200/1240*100%;
    }

    &__logo {
        color: #f6af44;
        font-weight: 700;
        font-size: 24px;
        line-height: 29/24*100%;
    }

    &__search {
        display: flex;
        align-items: center;
        font-size: 24px;
        width: 470px;
        justify-content: space-between;
    }
}

.search-form {
    max-width: 700px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 0 31px 0 10px;

    &__item {
        width: 400px;
        background-color: #fff;
        display: flex;
        align-items: center;
    }

    &__btn {
        background-color: transparent;
        flex: 0 0 450px;
        height: 45px;
        font-size: 15px;
        color: #333;
        margin: 0 0 0 10px;
    }
}